# Loading required packages

In [23]:
import pandas as pd

#required for reading .xml files
import xml.etree.ElementTree as ET
import psycopg2


#required for navigating machine's directory
import glob
import os.path

#required for communicating with SQL database
from sqlalchemy import create_engine

In [24]:

# the postgresql address for SQL base coonection
conn_string = 'postgresql://admin:de300SPRING2024@dd300spring2024.549787090008.us-east-2.redshift-serverless.amazonaws.com:5439/dev'

### Utility function for writing data into the SQL database

In [25]:
def insert_to_table(data: pd.DataFrame, table_name:str):
    db = create_engine(conn_string)
    conn = db.connect()
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    conn.close()

# Step one : Extract data from ./data/ folder

In [26]:
all_files = glob.glob('./data/*')

# Output the list of files
for file in all_files:
    print(file)

./data/used_car_prices2.xml
./data/used_car_prices3.json
./data/used_car_prices2.csv
./data/used_car_prices3.xml
./data/used_car_prices1.xml
./data/used_car_prices2.json
./data/used_car_prices3.csv
./data/used_car_prices1.json
./data/used_car_prices1.csv

### Function to extract data from one .csv file

In [27]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    
    # add you line here to read the .csv file and return dataframe
    df = pd.read_csv(file_to_process)
    return df

### Function to extract data from one .json file

In [28]:
import json

def extract_from_json(file_to_process: str) -> pd.DataFrame:
    
    # add you line here to read the .json file and return dataframe
    df = pd.read_json(file_to_process,lines=True)
    return df

### Function to extract data from one  .xml file

In [29]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

### Function to extract data from the ./data/ folder

In [30]:


def extract() -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = columns)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
    
    #add lines for json files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    
    #add lines for xml files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    
    
    return extracted_data

### Extract the data

In [31]:
columns = ['car_model','year_of_manufacture','price', 'fuel']
folder = "data"
#table_name = "car_data"

# run
def main():
    data = extract()
    #insert_to_table(data, "car_data")
    
    return data

data = main()

/tmp/ipykernel_3569/3225141769.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
/tmp/ipykernel_3569/2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_3569/2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_3569/2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

In [32]:
data = extract()

/tmp/ipykernel_3569/3225141769.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
/tmp/ipykernel_3569/2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_3569/2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_3569/2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

In [33]:
data

        car_model year_of_manufacture         price    fuel
0        alto 800                2017   4253.731343  Petrol
1            ciaz                2015  10223.880597  Diesel
2            ciaz                2015  11194.029851  Petrol
3          ertiga                2015   9104.477612  Petrol
4           dzire                2009   3358.208955  Petrol
..            ...                 ...           ...     ...
85     etios liva                2014   7089.552239  Diesel
86         innova                2017  29477.611940  Petrol
87       fortuner                2010  13805.970149  Diesel
88  corolla altis                2011   6492.537313  Petrol
89  corolla altis                2016  21268.656716  Petrol

[90 rows x 4 columns]

In [ ]:
# insert_to_table(data = data, table_name = 'extracted_cars')

# Step Two: Transformation of the data

In [ ]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

def transform(df):
    # db = create_engine(conn_string)

    # df = pd.read_sql_query(f'SELECT * FROM {table_name}',con=db)

    print(f"Shape of data {df.shape}")

    # truncate price with 2 decimal place (add your code below)
    df['price'] = df['price'].round(2)

    # remove samples with same car_model (add your code below)
    df = df.drop_duplicates(subset=['car_model'], keep='first')
    
    print(f"Shape of data {df.shape}")

    # write to parquet
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

In [ ]:
transform(data)
#print the head of your data
print(data.head())



# Step Three : Loading data for further modeling

In [37]:
# read from the .parquet file

def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    #insert_to_table(data, table_name)

    return data

data = load()
print(data.shape)

(0, 0)